* {
    image-rendering: pixelated;
    font-family: sans-serif;
}

body::before {
    background: url(/bg.png);
    opacity: 0.4;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    padding-top: 10em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body, body * {
    word-break: break-all;
    max-width: 40em;
}